source https://api.nuget.org/v3/index.json

storage: none
nuget Akka.FSharp
nuget Dapper
nuget Giraffe
nuget Giraffe.Htmx
nuget Giraffe.ViewEngine.Htmx
nuget Microsoft.Data.Sqlite
nuget Microsoft.Playwright
nuget Saturn